/* Navbar.module.css */

.navbar {
  top: 0;
  right: 0;
  z-index: 25;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menuIcon {
  cursor: pointer;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--txt-color-primary);
  margin: 5px 0;
  border-radius: 5px;
  &:nth-child(2) {
    width: 15px;
  }
}

.menu {
  display: none;
  flex-direction: column;
  color: var(--txt-color-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.menuOpen {
  display: flex;
  background-color: var(--bg-color-primary);
}

.menu a {
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  text-align: right;
}

.closeIcon {
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  margin: 100px 0;
  svg line {
    stroke: var(--txt-color-primary);
  }
}

.elementMenu {
  display: flex;
  border-top: 2px solid var(--bg-color-secondary);
  color: var(--txt-color-primary);
  margin-right: 30px;
  margin-left: 30px;
  &.active {
    svg path {
      fill: var(--orange)
    }
    a {
      color: var(--orange);
      font-weight: 700;
    }
  }
  svg path {
    fill: var(--txt-color-primary);
  }
}

.bottomElement {
  border-top: 2px solid var(--bg-color-secondary);
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: auto;
}

.endservice {
  padding: 15px; /* Ajout d'un espace autour du texte pour améliorer l'apparence */
  text-align: right; /* Alignement du texte à droite */
  color: var(--light-red);
  
}

.Svg {
  margin-top: 15px;
}

.link {
  color: var(--txt-color-primary)
}

.admin {
  .Svg {
    path {
      fill: var(--txt-color-primary)
    }
  }
}