.bottom_button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 33px 0;
    z-index: 10;
    background-color: var(--bg-color-primary);
    a {
        width: 100%;
        span, svg {
            vertical-align: middle;
        }
        svg {
            margin-left: 16px;
        }
    }
}